* {
    box-sizing: border-box;
}

.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

.google-logo {
    text-align: center;
    padding-top: 35px;
}

.google-logo .input {
    width: 550px;
    height: 40px;
    border-radius: 45px;
    border: 1px solid #d7d0d0;
    margin-top: 20px;
}

.google-logo .input:hover {
    outline: none;
}

.google-logo .btn {
    margin-top: 25px;
}

.google-logo .btn button {
    border: none;
    padding: 10px auto;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #eee;
    cursor: pointer;
    font-size: 14px;
}

.google-logo .btn button:hover {
    border: 1px solid black;
}

footer {
    margin-top: 223px;
    display: grid;
}

footer p {
    display: block;
    background-color: #eee;
    padding: 10px;
    color: #9c9d92;
    font-weight: 500;
    border-bottom: 1px solid #333;
    margin-bottom: 0;
    height: 38px;
    align-items: center;
    float: right;
}

.google-links {
    background-color: #eee;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

.left-links ul {
    display: flex;
    align-items: center;
}

.left-links ul li {
    list-style: none;
    padding: 10px;
}

.left-links ul li a {
    text-decoration: none;
    color: #9c9d92;
    font-weight: 500;
}

.left-links ul li a:hover {
    text-decoration: underline;
}

.right-links ul {
    display: flex;
    align-items: center;
}

.right-links ul li {
    list-style: none;
    padding: 10px;
}

.right-links ul li a {
    color: #9c9d92;
    text-decoration: none;
    font-weight: 500;
}